<!doctype html>
<html ng-app="apiCalculator">
	<head>
		<title>Calculator</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="script.js"></script>
	</head>

	<body>
		<div ng-controller="ExampleController">
			<h1>Calculator</h1>
			<input type="numeric" name="num1" ng-model="num1" placeholder="First Number" required>
			<input type="numeric" name="num2" ng-model="num2" placeholder="Second Number" required>
			<p>Result: {{greeting.resultado}}</p>

			<button ng-click="sum()">Add</button>
			<button ng-click="rest()">Rest</button>
			<button ng-click="multiplication()">Multiplication</button>
			<button ng-click="division()">Division Real</button>
		</div>
	</body>
</html>
